<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Define custom levels before using them for filtering below. -->
    <CustomLevels>
        <CustomLevel name="DIAG" intLevel="350" />
        <CustomLevel name="NOTICE" intLevel="450" />
        <CustomLevel name="VERBOSE" intLevel="550" />
    </CustomLevels>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n"/>
        </Console>
        <File name="MyFile" fileName="E:/LOGS/app.log">
            <PatternLayout pattern="%d %p %c [%M] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <!-- Only events at DIAG level or more specific are sent to the console. -->
            <AppenderRef ref="Console" level="warn" />
            <AppenderRef ref="MyFile" level="diag" />
        </Root>
    </Loggers>
</Configuration>